.search_bar_div {
	position: absolute;
	text-align: center;
	top: 50px;
	width: 100%;
	height: 50%;
	color: lightgray;
	background-color: orange;
	display: table;
	border: none;
}
#search_bar {
	position: relative;
	left: -20px;
	top: 3px;
	border: none;
	color: lightgray;
	background-color: orange;
}
.table_cell {
	display: table-cell;
	border: none;
}
#change_search_type_btn {
	position: relative;
	top: -8px;
	left: -5px;
	border: none;
	font-size: 15px;
}
.search_type_buttons {
	position: relative;
	top: 20px;
	text-align: left;
}
.round_btn {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 30px;
}
#foodBtn {
	position: relative;
	background-color: orange;
	left: 5px;
}
#eventsBtn {
	position: relative;
	background-color: blue;
	left: 5px;
}
#drivingBtn {
	position: relative;
	background-color: green;
	left: 5px;
}
.background {
	background-color: white;
}