/* Search bar stuff */
.search_bar_div {
	position: absolute;
	text-align: center;
	top: 50px;
	width: 100%;
	height: 50%;
	color: lightgray;
	background-color: white;
	display: table;
	border: none;
	-webkit-transition-duration: 0.4s;
}
#searchBar {
	position: relative;
	left: -40px;
	top: 3px;
	border: none;
	color: lightgray;
	background-color: rgba(0,0,0,0);
}
.table_cell {
	display: table-cell;
	border: none;
}

/* Search type buttons. */
#change_search_type_btn {
	position: relative;
	top: -8px;
	left: -5px;
	border: none;
	font-size: 18px;
	color: lightgray;
	z-index: 1;
}
.search_type_buttons {
	position: relative;
	top: 20px;
	text-align: left;
}
.round_btn {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 30px;
}
#foodBtn {
	position: absolute;
  	transition: all 0.5s ease;
	left: 5px;
}
#eventsBtn {
	position: absolute;
  	transition: all 0.5s ease;
	left: 5px;
	z-index: -1;
}
#drivingBtn {
	position: absolute;
  	transition: all 0.5s ease;
	left: 5px;
	z-index: -1;
}


/* Expanded/Closed states for buttons. */
.foodBtn_expanded {
	top: 40px;
	z-index: 1;
	background-color: rgb(255, 153, 0);
}
.foodBtn_closed {
	top: -10px;
	z-index: -1;
	background-color: rgba(0,0,0,0);
}
.eventsBtn_expanded {
	top: 100px;
	z-index: 1;
	background-color: rgb(0, 102, 255);
}
.eventsBtn_closed {
	top: -10px;
	z-index: -1;
	background-color: rgba(0,0,0,0);
}
.drivingBtn_expanded {
	top: 160px;
	z-index: 1;
	background-color: rgb(51, 204, 51);
}
.drivingBtn_closed {
	top: -10px;
	z-index: -1;
	background-color: rgba(0,0,0,0);
}


.background {
	background-color: white;
}